<?xml version="1.0"?>
<odoo>
    <!--              -->
    <menuitem id="imdb_main_menu"
              name="Movie Database"
              groups="base.group_user"
              icon="imdb,static/description/icon.png"
              sequence="1">
        <menuitem id="imdb_catalogs_menu"
                  name="Catalogs"
                  groups="base.group_user">
            <menuitem id="imdb_catalogs_genre"
                      name="Genre"
                      action="action_imdb_genre"
                      groups="base.group_user"/>
            <menuitem id="imdb_catalogs_movie"
                      name="Movie"
                      action="action_imdb_movie"
                      groups="base.group_user"/>
        </menuitem>
    </menuitem>

</odoo>